@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    background-color: #784242;
    font-family: "MyWeirdFont", sans-serif;
    font-size: 1.2em;
  }

}
@font-face {
  font-family: "MyWeirdFont";
  src: url("./fonts/MyWeirdFont.ttf") format("truetype");
  font-display: swap;
}

